.announcement-gif-image img {
  width:60px;
  height:20px;
}
.single-events-list-item .content-area .top-part .location i{
  display:none;
}
.single-contact-item{
  min-height:120px;
}
.integrate_lab img{
  min-width:300px;
}
.single-gallery-image img {
    min-width: 250px;
    height: 200px;
    filter: drop-shadow(2px 4px 6px black);
}
.csh3_title .uv_row{
  margin-top:30px;
}
.cleaning-home-testimonial-area {
    padding-bottom: 50px;
}
.gallery_btn .btn-wrapper{
  text-align:center;
}
.gallery_btn .btn-wrapper a{
   border: rgb(26 72 138) solid 2px;
    padding: 12px 40px;
    color: rgb(26 72 138);
  border-radius:5px;
}
.custom-66 .bg_img{
  min-height: 375px;
}
.profile_single .fab {
  line-height:30px;
}
.profile_single .appointment-details-item .top-part .content .title {
  font-size:30px;
}
/* Cookies and Privacy */
#gdpr-cookie-message{
  background-color:#0b2850;
}
#gdpr-cookie-message button:last-child{
  background-color:#79defe;
}
/* Sidebar menu icon */
.ib-sidebar ul li a:before {
    position: relative;
    left: 0px;
    top: 0px;
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding: 3px 8px;
}
.ib-sidebar ul li .sub-menu li a:before {
    content: "";
    position: relative;
    left: 0px;
    top: 0px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding: 3px 8px;
}
.ib-sidebar .current-menu-item a:active{
  color:red;
}
.ib-table-title h3{
  padding-bottom: 35px;
}
.ib-sidebar ul li .sub-menu li a {
    padding-left: 20px;
    font-size: 14px;
}
.csh3_title p{
  padding-bottom:18px;
}
.current-menu-item a:hover{
  color: red;
}
.blog-content-area .container{
  max-width: 85%;
}
.ib-sidebar li a{
  padding: 10px 0px;
  border-bottom: 1px solid #c5c4c49e;
  display: flex;
}

/* University Campus */
.ib-header-banner-slider{
  display: flex;
}
.custom-66 .owl-nav{
    right: -50%!important;
    top: -7%!important;
    left: auto!important;
    width: 8%!important;
}
.csh3_title .waste_management {
  float:left;
  padding-right: 18px;
  max-height: 36px;
}
.table .btn_table {
    background: #14539c;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}
.table {
  margin-bottom: 2rem;
}
.csh3_title h2{
  font-size:24px;
}
.placement_cell .placement-text {
  float:left;
  padding-right: 20px;
}
.padding-120 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.csh3_title h3{
  padding-bottom: 13px;
}
.fa-circle-check:before {
    content: "\f058";
}
.icon-list{
    color: #1b4b8c;
    font-family: "Font Awesome 5 Free";
    padding-right: 8px;
    padding-top: 3px;
}
.csh3_title ul li{
  display:flex;
  padding-bottom: 10px;
}
.custom-66 .owl-nav>div{
  visibility: visible;
  opacity: 1;
  width: 30px;
  height: 30px;
  background-color: #fff!important;
  color: #396aac!important;
  border-color: #969aac !important;
}
.custom-66 .owl-nav .owl-prev, .custom-66 .owl-nav .owl-next{
  padding-top: 6px!important;
}

.btn-wrapper.unicapm_btn{
  float: right;
}
.back-top i.fa-angle-up{
  padding-top: 12px;
}

.ib-sidebar ul {
    padding-left: 0px;
}

.header-area.industry-home.header-bg-04:after{
  background: none;
}
.campus_college .single-cleaning-service-item .content {
    padding: 15px 15px 0 15px;
}
.campus_college .thumb{
  margin-bottom:0px;
}
.campus_college .thumb a img{
  min-width:308px!important;
  max-height:176px;
}
.owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev{
  padding-top: 10px;
}
.home-slider .header-inner.industry-home .title {
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
}
.home-slider .slider-right-content{
  margin: 0px 50px
}
.home-slider .row{
  align-items: center;
}
.style-04.header-bg-04 {
    padding: 4%!important;
    height: 440px!important;
}
.top-bar-inner ul li a:hover{
  color: #ded4d4!important;
}
.top-bar-inner ul li+li {
    margin-left: 20px;
}
.colleges_names h3{
  color: #fff;
  font-size: 21px;
  margin-top: 0px!important;
  margin-bottom: 5px!important;
}
.colleges_names p{
  color: #9db4d3;
}
.advantage_container{
  background: #fff8d1;
  display: inline-flex;
}
.advantage_container .owl-stage{
  display: flex;
}
.advantage_container .advantage_palamuru{
  padding: 0px 40px;
}
.advantage_container .advantage_palamuru h2{
  text-align: left;
}
.advantage_container .cagency-counterup-item .number{
  color: #ee608f;
}
.advantage_counter_row .col-lg-3{
  flex: 0 0 33%;
  max-width: 33%;
}
.counter_four .col-lg-3:nth-child(odd){
    background: url(https://ibridge.digital/projects/palamuru/v2/assets/uploads/media-uploader/pinkbottomangle1643886771.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding: 80px 0px;
}
.counter_four .col-lg-3:nth-child(even){
    background: url(https://ibridge.digital/projects/palamuru/v2/assets/uploads/media-uploader/bluetopangle1643886771.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 80px 0px;
}

/* Research Excellence */
.counter_four .cagency-counterup-item.dagency-home {
    text-align: left;
    margin: 0px 30px 0px;
}
.research_icon {
    background: url(https://ibridge.digital/projects/palamuru/v2/assets/uploads/media-uploader/research-icon1643866044.png);
    width: 56px;
    height: 54px;
    position: absolute;
    top: 36%;
    right: 6%;
}
.cagency-counterup-item .title {
    font-size: 15px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
    position: relative;
}
.cagency-counterup-item .number {
    font-size: 48px;
    line-height: 40px;
    font-weight: 700;
    color: #1b4b8c;
    margin-bottom: 0px;
    margin-left: 0px;
}


/* white you custom css code here. only css code will work */
.navbar-area .nav-container .navbar-collapse .navbar-nav li{
  line-height: 50px; 
}

.navbar-area.nav-fixed .nav-container .navbar-collapse .navbar-nav li {
  line-height:50px; 
}
.navbar-nav {
  text-align:center!important; 
}
.header-style-03.header-variant-08 .navbar-area .nav-container .logo-wrapper img{
  max-height: 90px!important;
}

.clear_both{
  clear:both;
}
.button_center{
  text-align: center;
  margin-top: 20px;
}

.title_color_blue{
  color: #396AAC;
  font-weight: 600;
}
.title_color_pink{
  color: #EC80C4;
  font-weight: 700;
}
.header-area{
background-repeat: no-repeat;
background-size: cover;
}
.logistic-dots.grocery-home .owl-dots div.active {
    background-color: #ed69ba;
}

.fruits-home-single-testimonial-item .author-details .content .title {
    font-size: 24px;
    line-height: 25px;
    color: #fa6161;
}
::placeholder {
    color: #000 !important;
}

.fruits-home-single-testimonial-item {
    background-color: #396aac;
    padding: 20px;
}
.testimonial_items .owl-item{
    width: 15% !important;
    margin: 0px 1%;
}
.clr_yellow{
  background: #fff8d1;
}
.testimonial_items .owl-carousel .owl-stage-outer{
  overflow: visible;
}
.top-bar-inner ul li {
    font-size: 14px;
}
.top-bar-inner{
  height: 30px;
}
.title_left_research{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
body{
  color: #000;
  line-height: normal;
}
.navbar-variant-04 .nav-fixed{
  top: 108px;
}
.ul-top-10 ul{
  margin-top: 10px;
}
.custom-navbar .nav-container{
  padding: 10px 0px!important;
}
.list-style ul li{
  list-style: disc!important;
}
.header-style-03.navbar-variant-04 .navbar-area{
  height: 50px;
  background: rgb(11,40,80);
  background: linear-gradient(140deg, rgba(11,40,80,1) 0%, rgba(57,106,172,1) 100%);
}
.header-style-03.navbar-variant-04 .navbar-area .nav-container .navbar-collapse .navbar-nav li a{
  color: #fff!important;
}
h2, home_title{
  font-size: 32px;
}
.header-style-03.navbar-variant-04 .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a, .xg-mega-menu-single-column-wrap ul li a{
  color: #111!important;
}
/* Custom CSS for Campus College*/

.bg_img {
  background:linear-gradient(90deg, rgba(12,61,128,1) 35%, rgba(57,106,172,0.4209033955379027) 99%), url("https://ibridge.digital/projects/palamuru/v2/assets/uploads/media-uploader/palamuru-bg1643722077.png");
    height: auto;
    padding: 30px;
    background-size: cover;
}
.text-left{
  text-align: left!important;
}
.bg_color {
  background: #1b4b8c url("https://ibridge.digital/projects/palamuru/v2/assets/uploads/media-uploader/message-bg1643711721.png");
  background-repeat: no-repeat;
  height: auto;
}
.campus_text{
    padding: 18% 50px;
    height: 100%;
}
.campus_text p{
   text-align: justify;
   font-size: 18px;
   color: #fff;
}
.button_border{
  text-align: center;
  width: 40%;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.phd-list{
  margin: 4% 5% 1% 5%;
}

.phd-list ul{
  padding-left: 0px;
  margin-right: 10px;
}
.phd-list ul li{
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  list-style: none;
}
.fa-award{
  margin-left: -20px;
  color: #b8d6ff;
  margin-right: 5px;
}
.li-head{
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}


/* Breadcrumb Area */

.breadcrumb-area .breadcrumb-inner{
  padding: 40px 0px!important;
}

/* Events Section start */
    .event_list_style{
    width: 100%;
    background: #eceef9;
    display: inline-flex;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
    .announcement_list_style{
    width: 100%;
    border-bottom: 1px solid #0000002b;
    display: inline-flex;
    padding: 5px 0px;
    margin: 5px;
}

.event-button a{
    padding: 5px 20px;
    border: 2px solid #969aac;
    border-radius: 3px;
    font-size: 14px;
}
.align-items-center .row{
  align-items: center!important;
}
.elist-viewall-btn .event-button{
  text-align: right;
  margin-right: 25px;
}
 .height-300{
 height: 360px!important;
 overflow-y: scroll!important;
 padding: 20px;
 }
.height-360{
 height: 360px!important;
 padding: 0px 25px;
 overflow:scroll;
}
.height-360 marquee{
 border-top: 2px solid #0000002b;
    padding: 0px 20px;
    max-height:400px;
}
.event_custom_title{
  text-align: left!important;
  padding-left: 30px;
}
 .events_date{
    width: 10%;
    height: auto;
    background: #fff;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
   }
.event-date-month{
  font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    color: #e56262;
}
.event-date-month .event-month{
  font-size: 18px;
}
.events_title_dec{
    width: 90%;
    padding: 0px 10px 0px 10px;
    text-align: left;
}
.announcement_title{
    width: 100%;
    padding: 0px;
    text-align: left;
}

.events_title_dec .ec_title{
   font-size: 15px;
   font-weight: 900;  
}
.announcement_title .ec_title{
   font-size: 15px;
   font-weight: 900; 
   line-height:24px; 
}
.logistic-dots .owl-dots div{
  border-radius: 10px;
}
.events_title_dec .ec_dec{
   font-size: 15px;
   font-weight: 400;  
}
.event_list_style .event_bottom, .announcement_list_style .event_bottom{
   padding-top: 5px;
}
.events_title_dec .ec_post_date, .announcement_title .ec_post_date{
   color: #a0a6c6;
    font-size: 12px;
    font-weight: 400;
}
.events_title_dec .ec_category{
   color: #396aac;
    font-size: 12px;
    font-weight: 700;
}
.announcement_title .ec_category{
   color: #ffffff;
   background-color: #ea4a4a;
   padding: 5px;
   margin-right:5px;
   font-size: 12px;
   font-weight: 700;
}

::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcbcb; 
  border-radius: 10px;
}


/* Four coloumn sections */
  p{
  color: #444444;
  font-size: 16px;
  text-align: justify;
  line-height: normal;
  }
  h1, h2, h3, h4, h5, h6{
    color: #14539c;
  }
h3, h4, h5{
    margin-top: 10px!important;
    margin-bottom: 0px!important;
}
.align-center{
  text-align: center;
}

.TestClass .single-cleaning-service-item .content {
    padding: 15px 5px 0 5px;
}
/* Team students */
.placed-students .team-memeber-carousel-area{
  margin: 10px 50px;
}
.width-50{
  width: 50%!important;
  height: auto;
  overflow: hidden;
  float: left!important;
  text-align: center;
}
.fruits-home-single-testimonial-item .author-details .content .designation{
  color: #14539c;
  font-size: 14px;
  font-weight: 700 !important;
  margin-bottom: 5px;
}



.padding-bottom-50{
    padding-bottom: 50px;
  }
  .bg-blue{
    background-color: blue;
    background-image: linear-gradient(to right, #0b2850, #396aac);
  }
  a{
    text-decoration: none;
  }
  .card-service{
    color: #000;
    width: 100%;
    margin: 10px 0px;
    height: 100px;
    align-items: bottom;
    text-align: center;
    background-color: white;
    border-radius: 10px;
  }
 .circle-shape {
    flex-shrink: 0;
    padding: 20px 0px;
    width: 100px;
    height: 60px;
    float: left;
}
.card-service p {
    font-size: 18px;
  font-family: 'Roboto', sans-serif;
    padding-top: 26px;
    padding-left: 80px;
    padding-right: 10px;
    text-align: left;
    font-weight: 600;
    line-height: 20px;
}
.bg-lite-yellow{
  background-color: #fff8d1;
}
.clr-lite-pink{
  color: #ed69ba;
}
.adv-pu h1{
  font-size: 32px;
  font-weight: 500;
}
.bg-placement-img{
  background-image: url(placements-bg.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  padding: 15px;
}
.counter-up h3{
  font-size: 20px;
  color: #111;
}
.counter-up h1, .counter-up h1 span{
  display: inline-block;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.home_welcome {
      width: 100%;
      height: auto;
      clear:both;
      background-image: linear-gradient(to right, #2469bd, #41b057);
   }
    
  .Promotion_text{
      text-align: center;
   }
  .Promotion_text h1{
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 0px;
    color:#fff!important;
}

/* Counter background image */
   .dcagency-counterup-area{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
 .card_main {
  margin: 18px 7px 0px 7px;
 }
 ul.check_body {
  padding-left: 18px;
 }
  .check_circle ul li {
  float: left;
  color: #fff;
 }
.check_circle ul li i{
  padding-right: 10px;
}
.card_style{
  width: 20%;
  float: left;
}

 hr {
  border-top: 3px solid #eee;
 }
.card_line{
  text-align: center;
  padding-top: 10px;
  padding-left: 66px;
}
.card-widget{
  margin: 0px 10px;
}
.card {
  background: linear-gradient(139deg, rgba(14,68,135,1) 49%, rgba(101,172,115,1) 99%);
  flex: 23%;
  margin: 0px 10px;
  height:200px;
}
.card-title  {
  font-size: 26px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
.card_know{
  padding: 6px 20px;
}
.card-link {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #b0d4e6;

}
.fa-check-circle {
  font-size: 15px;
  font-family: "Font Awesome 5 Free";
 color: #fff;
}
.fa-check-circle:before{
  content: "\f058";
}
li {
  list-style: none;
}
 .check_circle {
   padding: 10px 5px;
}
 .testimonial_items .thumb {
   position: absolute;
    left: -24px;
    top: -50px;
}
.uce_testimonial .thumb {
   position: absolute;
    left: -240px;
    top: -60px;
}
.uce_testimonial .fruits-home-single-testimonial-item{
  margin: 10px 20px;
}
 .fruits-home-single-testimonial-item .author-details .thumb img {
    width: 28%;
   height: auto;
}
.uce_testimonial .fruits-home-single-testimonial-item .author-details .content {
   position: absolute;
    top: -40%;
    left: 25%;
}
 .fruits-home-single-testimonial-item .author-details .content {
   position: absolute;
    top: -30%;
    left: 25%;
}
.fruits-home-single-testimonial-item .author-details {
    margin-bottom: 0px;
}
  .fruits-home-single-testimonial-item .description {
    margin-left: 24%;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    font-weight: 100;
}
.title_research{
  font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.title_line {
  padding-top: 10px;
}
.title_line hr{
  margin-top: 15px;
  border-top: 5px solid #eee;
}
.padding-bottom-65 {
    padding-bottom: 35px;
}
.padding-top-90 {
    padding-top: 38px;
}
.attorney-contact-form-wrap {
    padding: 0px;
    background: none!important;
}

.attorney-contact-form-wrap .title {
  font-size: 18px; 
  text-align:left;
  color:#fcdc6f;
}
.attorney-contact-form-wrap .attorney-contact-form .form-group .form-control {
    background: #fff;
    color:#000;
    width:200px;
}
.form-group {
    margin-bottom: 10px;
}
.submit-btn {
  width:200px;
  height:30px;
   padding: 2px;
  border-radius: 3px;
  background-color: #fcdc6f;
  color: #1b4b8c;
 }
.widget .widget-title, .attorney-contact-form-wrap .title {
    line-height: normal;
    margin-bottom: 20px!important;
}
.widget.footer-widget {
   margin-bottom: 0px!important; 
}
.footer-top .container, .nav-container, .top-bar-area .container, .all-courses-area .container {
  max-width: 1440px;
}
.copyright-area {
    padding: 13px 30px 12px 31px;
}
.core_values .thumb{
    position: relative;
    background-color: #1b4b8c;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    border: 3px solid #fff;
    font-size: 30px;
    margin: 0px auto;
    text-align: center;
    padding:15px;
    bottom: -50px
}
.core_values .single-cleaning-service-item .content .title{
  text-align:center;
}
.single-cleaning-service-item .content .title:hover{
  color:#1b4b8c;
}
.vision_mission .cagency-single-what-we-cover-item .icon.style-1 {
   background-color:#1b4b8c;
}
.vision_mission .fas {
  line-height: unset;
}
.vision_mission .cagency-single-what-we-cover-item .icon.style-3{
  background-color:#1b4b8c;
}
.vision_mission i[class^="nexicon-"]:before, i[class*=" nexicon-"]:before{
  line-height: unset;
}
.btn-wrapper .boxed-btn{
  padding:0px;
}
.about_us .text-para {
  font-size:20px;
}
.ebsb img, .about_us img{
  float:left;
  margin-right:26px;
}

/* copyright area */

.copyright-area .container{
  max-width: 1440px;
}
.copyright-area-inner{
  display: flex;
}
.bottom_footer_left{
  width: 50%;
  text-align: left;
}
.bottom_footer_right{
  width: 50%;
  text-align: right;  
}
.bottom_footer_left, .bottom_footer_left a, .bottom_footer_right, .bottom_footer_right a{
  color: #84a2ca;
}

/* Display None attributes */

.title_display_none h2.title:nth-child(1), .title_display_none h2.title:nth-child(1){
  display: none;
}
.cagency-counterup-item .number::after{
  display: none;
}
.fruits-home-single-testimonial-item .icon{
  display: none;
}
.display-none{
  display: none;
}
.TestClass .thumb .icon{
  display: none;
}
.attorney-contact-form .form-group label {
    display: none;
}
.form-group label{
  display: none;
}



/* Responsive start */
@media (max-width: 1340px){
  .card-widget .col-lg-3{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 10px 0px;
    max-width: 50%;
}
  }
  .card-widget .col-md-6{
    padding: 10px 0px;    
  }
.card-body{
  padding:10px 1.25rem;
}

  
}


@media screen and (min-width: 800px){
  .header-style-03.navbar-variant-04 .navbar-area{
    height: 0px;
  }
  .copyright-area .container{
    max-width: 1440px;
  }
  .dcagency-counterup-area .counter_four{
    padding-bottom: 90px;
  }
  .copyright-area-inner{
    display: flex;
  }
  .bottom_footer_left{
    width: 60%;
    text-align: left;
  }
  .bottom_footer_right{
    text-align: right;
    width: 40%;
  }

}
@media (min-width: 770px) and (max-width: 1025px){
  .header-style-03.navbar-variant-04 .navbar-area{
    height: 90px!important;
  }
  .campus_circle img{
    min-width:40px;
  }
  .bg_color {
    background-position: center right;
    background-size: 370px 422px;
  }
  .custom-66 .bg_img {
    min-height: 440px;
  }
  .home-slider .header-inner.industry-home .title{
    font-size:23px;
  }
  .fruits-home-single-testimonial-item .author-details .thumb img{
    width: 20%;
  }
  .uce_testimonial .thumb {
    left: -280px;
    top: -38px;
 }
  .uce_testimonial .fruits-home-single-testimonial-item .author-details .content {
    position: absolute;
    top: -27%;
    left: 25%;
}
}
@media only screen and (max-width: 991px){
.navbar-area .nav-container {
    position: initial;
 }
}
@media (min-width: 426px) and (max-width: 778px){
  .header-style-03.navbar-variant-04 .navbar-area{
    height: 0px;
  }
  .header-style-03.navbar-variant-04 .navbar-area .nav-container .navbar-collapse .navbar-nav li a{
    color:#000!important;
  }
  .home-slider .hero-image__figure img{
    width: 60%;
    margin: 0 auto;
  }
  .header-area .title {
    margin-bottom: 15px;
  }
  .home-slider .header-inner.industry-home .title{
    font-size: 24px;
  }
  .campus_circle img{
    min-width:35px;
  }
  .custom-66 .bg_img {
    min-height: 624px;
  }
  .bg_color {
    background-position: center right;
    background-size: 271px 690px;
  }
  .fruits-home-single-testimonial-item .author-details .thumb img{
    width: 18%;
  }
   .uce_testimonial .thumb {
    left: -248px;
    top: -27px;
 }
  .navbar {
    position: relative;
  }
  .uce_testimonial .fruits-home-single-testimonial-item .author-details .content {
    position: absolute;
    top: -20%;
    left: 25%;
}
  .mobile-cart{
    display:none;
  }
  .top-bar-area{
    display:none;
  }
}

@media only screen and (max-width: 600px) {
  .bg_color {
    background-position: center;
    background-size: 420px 330px;
}
  .counter_four .cagency-counterup-item.dagency-home{
    text-align: center;
  }
  .campus_circle img{
    width: 60px!important;
    margin-bottom: 20px;
  }
  .colleges_names .unicapm_btn{
    float: left;
    margin-bottom: 20px;
  }
  .title_left_research, .title_research{
    font-size: 24px;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li{
    line-height: normal;
  }
  .ib-custom-header-slider{
    height: 340px!important;
    overflow: hidden;
  }
  .header-style-03.navbar-variant-04 .navbar-area, .top-bar-inner{
    height: 0px;
    padding:0px;
  }
  .home-slider .slider-right-content{
  margin:0px;
  }
  .home-slider .header-inner.industry-home .title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin: 15px 0px;
  }
  .header-inner.industry-home .description{
    font-size: 12px;
    line-height: 16px;
  }
  .ib-header-banner-slider{
  display: block;
  }
  .header-style-03.navbar-variant-04 .navbar-area .nav-container .navbar-collapse .navbar-nav li a{
  color: #000!important;
  }
  .campus_college .thumb a img{
  min-width:190px!important;
  max-height:180px;
  }
  .width-50, .custom-66, .custom-40{
    width: 100%!important;
    overflow: none!important;
  }
  .custom-40 .campus_text{
    height: 350px;
  }
  .advantage_container{
    display: flow-root!important;
  }
  .advantage_counter_row .col-lg-3{
    max-width: 100%!important;
  }
  .research_icon{
    top: 0px;
    right: 40%;
  }
  .counter_four .col-lg-3:nth-child(even), .counter_four .col-lg-3:nth-child(odd){
    background-image: none;
    padding: 60px 0px 10px 0px;
  }
  .back-to-top{
    right: 2px;
    width: 40px;
    height: 40px;
    bottom: 5px;
    font-size: 14px;
  }
  .back-to-top .back-top .fa{
    line-height: 50px;
  }
  div#u7hh23oevuo81644297939972{
    display: none !important;
  }
  .events_date{
    width:25%;
    padding-top: 45px;
  }
  #section3_container .col-lg-12{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .event-button{
    margin: 10px 0px;
  }
  .mobile-cart{
    display:none;
  }
  .header-style-03.header-variant-08 .navbar-area .nav-container, .dcagency-counterup-area{
    padding: 0px!important;
  }
  .counter_four{
    padding-bottom: 100px!important;
  }
  #advantage_counter .row{
    display: grid;
  }
  #advantage_counter .cagency-counterup-item{
    margin-bottom: 30px!important;
  }
  .card-widget{
    margin: 0px!important;
    display: block;
  }
  .card-widget .col-lg-3{
    max-width: 100%!important;
  }
  .card-widget .card{
    flex: 100%!important;
    margin:0px;
    height: 200px;
  }
  .card-widget .card-body{
    padding: 0.25rem!important;
  }
  .author-details .thumb, .fruits-home-single-testimonial-item .author-details .content{
    position: relative;
    left: 0px;
    top: 0px;
  }
  .uce_testimonial .fruits-home-single-testimonial-item .author-details .content {
    position: relative;
    top: 0px;
    left: 0px;
}
  .fruits-home-single-testimonial-item .description{
    margin-left: 0px;
    font-size: 14px;
  }
  .fruits-home-single-testimonial-item .author-details{
    display: block;
  }
  .fruits-home-single-testimonial-item .author-details .content .title{
    font-size: 20px;
    font-weight: bold;
  }
  .fruits-home-single-testimonial-item .author-details .content .designation{
    color: #a3adb8;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .fruits-home-single-testimonial-item .author-details .thumb img{
    width: 60%;
    height: auto;
    margin: 0px auto;
  }
/*  .owl-carousel .owl-stage{
    width: 1800px!important;
  } */
  
  .testimonial_items .owl-carousel .owl-stage-outer{
    overflow: hidden;
    height: 460px;
}
  .testimonial_items {
    padding: 0px 0px 30px 0px!important;
  }
  .advantage_container .advantage_palamuru{
    padding: 20px!important;
  }
  .advantage_container .advantage_palamuru h2{
    text-align: center;
    font-size: 26px;
    line-height: 26px;
  }
  marquee .row{
  margin-left: 0px;
  }
  .height-360{
  padding: 5px;
  }
 .custom-66 .bg_img {
    min-height: 812px;
}
  
}

/**********************************************/
/*****     Prasanth Modifications      ********/
/**********************************************/

.custom-66 {
  width: 65%;
}
.custom-40 {
  width: 35%;
}
.btn-custom {
  display: inline-block;
  background-color: #14539c;
  color: #fff;
  padding: 10px 30px 10px 30px;
  position: relative;
  z-index: 0;
  border: none;
  overflow: hidden;
  transition: all .3s;
  font-weight: 600;
}